@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@700&family=Signika:wght@400;500&display=swap');

:root {
    /* Please define colors, shadows, etc. here */
    --font-color: #3d3d3d;
    --heading-color: #000;
    --placeholder-color: rgba(63, 63, 63, 0.6);
    --input-field-background: #f9f9f9;
    --purple-gradient: linear-gradient(273.28deg, #B300D0 0%, #FF00C7 100%);
    --button-dark-color: #3d3d3d;
    --button-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
}

body {
    font-family: 'Signika', sans-serif;
    color: var(--font-color);
    text-align: center;
    padding: 0 20px 20px 20px;
    overflow-x: hidden;
}

h1 {
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
    color: var(--heading-color);
}

/* Buttons */

button,
input[type='submit'] {
    color: white;
    background: var(--button-dark-color);
    box-shadow: var(--button-shadow);
    border-radius: 26px;
    border: none;
    width: 213px;
    height: 51px;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
}

input[type='submit'] {
    background: var(--purple-gradient);
}

/* Text Fields */

input[type='text'],
input[type='password'],
input[type='tel'],
input[type='email'],
textarea {
    /* Add border when selected to the input fields! */
    background-color: var(--input-field-background);
    border-radius: 12px;
    border: none;
    color: var(--heading-color);
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    width: 90%;
    height: 42px;
    padding: 2px 10px;
}

input::placeholder,
textarea::placeholder {
    color: var(--placeholder-color);
}

textarea {
    height: 120px;
}

/* Links */

a,
a:hover,
a:active,
a:visited {
    color: var(--font-color);
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
}

/* User Cards */
.user-card {
    background-color: var(--input-field-background);
    border-radius: 12px;
    font-family: 'Signika', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    width: 220px;
    padding: 10px 10px;
    margin: 20px auto 0 auto;
}

.user-card .qr-code {
    margin: 10px;
}

.user-card p {
    margin: 0;
}

.accent-text {
    background: var(--purple-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.75rem;
    font-family: 'Signika Negative', sans-serif;
    font-weight: 700;
}

/* Other Controls */

.icon {
    margin-top: 30px;
    margin-bottom: 10px;
}

.small-icon {
    width: 30px;
    vertical-align: middle;
}

/* Top Bar */
.top-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    align-items: center;
}

.has-right {
    justify-content: space-between;
}

.top-bar img {
    vertical-align: middle;
    padding-right: 20px;
}

.has-right img {
    padding-right: 0;
}

/* Misc Utility Classes */

.bottom {
    width: 100%;
    position: fixed;
    bottom: 40px;
    left: 0;
}

.w-60 {
    padding: 0 4rem;
}

.w-80 {
    padding: 0 2rem;
}

.m-tb-1 {
    margin: .5rem 0;
}

.m-tb-2 {
    margin: 2rem 0;
}

.m-bottom-1 {
    margin-bottom: .5rem;
}

.m-bottom-2 {
    margin-bottom: 2rem;
}

/* Desktops */
@media screen and (min-width: 1000px) {
    input[type='text'],
    input[type='password'],
    input[type='tel'],
    input[type='email'],
    textarea {
        width: 300px;
    }
}
